name: couldai_user_app
description: "Chris-Tech Solutions Field Service Manager App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.1
  intl: ^0.19.0
  uuid: ^4.3.3
  image_picker: ^1.0.7 # For capturing job images
  shared_preferences: ^2.2.2 # For local storage/session persistence

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
